
<div class="vh-100">
  <div class="my-5 border-top border-bottom border-dark text-center">
    <h1 class="my-3">Contattaci</h1>
  </div>
  <div class="row justify-content-evenly">
    <div class="div-contact col-4 text-center pt-4">
      <i class="bi bi-telephone icon"></i>

      <p class="mt-5">
        Clicca sull'icona per parlare direttamente con i nostri operatori
      </p>
    </div>
    <div class="div-contact col-4 text-center pt-4">
      <i class="bi bi-chat icon"></i>

      <p class="mt-5">
        Clicca sull'icona per avviare una chat con i nostri operatori
      </p>
    </div>
    <div class="div-contact col-4 text-center pt-4">
      <i class="bi bi-person-check icon"></i>

      <p class="mt-5">
        Clicca sull'icona per richiedere un operatore personale
      </p>
    </div>
  </div>
</div>
