<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img [src]="wine.immagine_url" class="img-fluid" alt="{{ wine.nome }}" />
    </div>
    <div class="col-md-6">
      <h1>{{ wine.nome }}</h1>
      <p>{{ wine.descrizione }}</p>
      <ul clas="list-unstyled">
        <li><i class="bi bi-calendar-event">Annata:</i> {{ wine.annata }}</li>
        <li><i class="bi bi-globe2"></i>Provenienza: {{ wine.provenienza }}</li>
        <li><i class="bi bi-tag"></i>Tipo: {{ wine.tipo }}</li>
        <li>Prezzo: {{ wine.prezzo | currency : valuta }}</li>
        <li>
          Casa Vinicola:
          <a href="{{ wine.casa_vinicola_url }}">{{ wine.casa_vinicola }}</a>
        </li>
      </ul>
      <button class="btn btn-primary">Aggiungi al carrello</button>
    </div>
  </div>
</div>
