<!-- <div
  class="container-fluid d-flex justify-content-center align-items-center vh-100"
>
  <div class="card mb-3 rounded-5 card-custom">
    <div class="row g-0 h-100">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <div class="image-container">
          <img
            [src]="wine.immagine_url"
            class="img-fluid rounded-start"
            alt="{{ wine.nome }}"
          />
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">{{ wine.nome }}</h1>
          <p class="card-text">{{ wine.descrizione }}</p>
          <ul class="list-unstyled">
            <li>
              <i class="bi bi-calendar-event"></i> Annata: {{ wine.annata }}
            </li>
            <li>
              <i class="bi bi-globe2"></i> Provenienza: {{ wine.provenienza }}
            </li>
            <li><i class="bi bi-tag"></i> Tipo: {{ wine.tipo }}</li>
            <li>
              <i class="bi bi-cash-coin"></i> Prezzo:
              {{ wine.prezzo | currency : "EUR" }}
            </li>
            <li>
              <i class="bi bi-house"></i> Casa Vinicola:
              <a [href]="wine.casa_vinicola_url">{{ wine.casa_vinicola }}</a>
            </li>
          </ul>
          <button class="button">Aggiungi al carrello</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container d-flex justify-content-center my-5">
  <div class="book">
    <div class="card-body text-center">
      <h1 class="card-title">{{ wine.nome }}</h1>
      <p class="card-text">{{ wine.descrizione }}</p>
      <ul class="list-unstyled">
        <li><i class="bi bi-calendar-event"></i> Annata: {{ wine.annata }}</li>
        <li>
          <i class="bi bi-globe2"></i> Provenienza: {{ wine.provenienza }}
        </li>
        <li><i class="bi bi-tag"></i> Tipo: {{ wine.tipo }}</li>
        <li>
          <i class="bi bi-cash-coin"></i> Prezzo:
          {{ wine.prezzo | currency : "EUR" }}
        </li>
        <li>
          <i class="bi bi-house"></i> Casa Vinicola:
          <a [href]="wine.casa_vinicola_url">{{ wine.casa_vinicola }}</a>
        </li>
      </ul>
      <button class="button">Aggiungi al carrello</button>
    </div>
    <div class="cover">
      <h1 class="card-title">{{ wine.nome }}</h1>
      <img
        [src]="wine.immagine_url"
        class="img-fluid rounded-start"
        alt="{{ wine.nome }}"
      />
      <p>Annata: {{ wine.annata }}</p>
    </div>
  </div>
</div>
