<div
  class="d-flex flex-wrap align-items-center p-3 justify-content-center justify-content-lg-start"
  id="header"
  bis_skin_checked="1"
>
  <a
    href="/"
    class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
  >
    <svg
      class="bi me-2"
      width="40"
      height="32"
      role="img"
      aria-label="Bootstrap"
    >
      <use xlink:href="#bootstrap"></use>
    </svg>
  </a>

  <ul
    class="nav col-6 col-lg-auto gap-3 me-lg-auto mb-2 justify-content-center mb-md-0"
  >
    <li>
      <a routerLink="/" class="nav-link px-2 fs-5 link-secondary text-white"
        >Home</a
      >
    </li>
    <li>
      <a
        *ngIf="logged"
        routerLink="/profile"
        class="nav-link px-2 fs-5 link-body-emphasis text-white"
        >Profile</a
      >
    </li>

    <li>
      <a
        routerLink="/faq"
        class="nav-link px-2 fs-5 link-body-emphasis text-white"
        >FAQ</a
      >
    </li>
    <li>
      <a
        routerLink="/contatti"
        class="nav-link px-2 fs-5 link-body-emphasis text-white"
        >Contatti</a
      >
    </li>
    <li>
      <a
        routerLink="/chi-siamo"
        class="nav-link px-2 fs-5 link-body-emphasis text-white"
        >Chi Siamo</a
      >
    </li>
  </ul>
  <div class="d-flex align-items-center justify-content-center gap-3">
    <form
      class="ms-2 col-5 col-lg-auto mb-3 mb-lg-0 me-lg-3 mt-3 mt-lg-0"
      role="search"
    >
      <input
        (input)="search($event)"
        type="search"
        class="form-control align-self-center"
        placeholder="Cerca..."
        aria-label="Search"
      />
    </form>

    <div class="dropdown-menu-left text-end" bis_skin_checked="1">
      <a
        (click)="show = !show"
        class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt="mdo"
          width="40"
          height="40"
          class="rounded-circle"
        />
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end text-small"
        [class.show]="show"
      >
        <li *ngIf="!logged">
          <a
            (click)="show = !show"
            class="dropdown-item"
            routerLink="/auth/login"
            >Login</a
          >
        </li>
        <li *ngIf="!logged">
          <a
            (click)="show = !show"
            class="dropdown-item"
            routerLink="/auth/register"
            >Register</a
          >
        </li>
        <li *ngIf="logged">
          <a (click)="show = !show" class="dropdown-item" routerLink="/profile"
            >Profile</a
          >
        </li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li *ngIf="logged">
          <a (click)="logout()" (click)="show = !show" class="dropdown-item"
            >Sign out</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
