<div class="banner p-5">
  <div class="wrapper">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-white">Profumi di CAZZO</h1>
    <div class="text-container">
      <p class="text-white">
        Scopri i sapori e gli aromi squisiti della nostra selezione di vini
        attentamente realizzata, provenienti dalle migliori vigne di tutto il
        mondo. Abbandonati a un viaggio sensoriale che risveglierà il tuo palato
        e ti lascerà desiderare di più.
      </p>
    </div>
  </div>
</div>
