.banner {
  background-image: url("../../../assets/imgs/wine_banner.jpg");
  height: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  box-sizing: border-box;
}

.text-container {
  width: 30vw;
  font-size: 1.2rem;
}
