<div class="container text-center main">
  <section class="section mt-5">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar"
                  class="profile-img img-fluid my-5" />
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Informazioni</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Nome</h6>
                      <p class="text-muted">{{user?.nome}} {{user?.cognome}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>email</h6>
                      <p class="text-muted">{{user?.email}}</p>
                    </div>
                    <div class="col-12 mb-3">
                      <h6 *ngIf="user?.vendorOrNot">Dati aziendali</h6>
                      <p *ngIf="user?.vendorOrNot" class="text-muted"> P.IVA: {{user?.pIva}}</p>
                      <p *ngIf="user?.vendorOrNot" class="text-muted">Presso: {{user?.sedeLegale}}</p>
                      <p *ngIf="user?.vendorOrNot" class="text-muted">Nome Cantina: {{user?.nomeAzienda}}</p>
                    </div>
                    <button *ngIf="vendor" class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h3 class="mt-5">Preferiti:</h3>
  </section>

  <!-- <app-wine-card *ngFor="let item of list" [wine]="wine"></app-wine-card> -->
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi prodotto</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" [(ngModel)]="newWine.nome" placeholder="Nome del vino">
      </div>
      <div class="mb-3">
        <label for="annata" class="form-label">Annata</label>
        <input type="number" class="form-control" id="annata" [(ngModel)]="newWine.annata" placeholder="Anno di produzione">
      </div>

      <div>
        <input type="number" [(ngModel)]="newWine.prezzo" placeholder="Prezzo">
        <select [(ngModel)]="selectedCurrency">
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <input type="text" class="form-control" id="tipo" [(ngModel)]="newWine.tipo" placeholder="Tipo di vino">
      </div>

      <div class="mb-3">
        <label for="provenienza" class="form-label">Provenienza</label>
        <input type="text" class="form-control" id="provenienza" [(ngModel)]="newWine.provenienza" placeholder="Provenienza del vino">
      </div>

      <div class="mb-3">
        <label for="casa_vinicola" class="form-label">Casa Vinicola</label>
        <input type="text" class="form-control" id="casa_vinicola" [(ngModel)]="newWine.casa_vinicola" placeholder="Casa vinicola">
      </div>
      <div class="mb-3">
        <label for="casa_vinicola_image" class="form-label">Immagine Casa Vinicola</label>
        <input type="file" class="form-control" id="casa_vinicola_image" (change)="onCasaVinicolaImageSelected($event)">
      </div>
      <div class="mb-3">
        <label for="vino_image" class="form-label">Immagine del Vino</label>
        <input type="file" class="form-control" id="vino_image" (change)="onVinoImageSelected($event)">
      </div>


      <div class="mb-3">
        <label for="descrizione" class="form-label">Descrizione</label>
        <textarea class="form-control" id="descrizione" [(ngModel)]="newWine.descrizione" placeholder="Descrizione del vino"></textarea>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">Annulla</button>
    <button type="button" class="btn btn-primary" (click)="addNewWine()">Salva</button>
  </div>
</ng-template>

<section>
  <h3 class="mt-5"> Vini Preferiti Utente:</h3>
  <div class="row">
    <div class="col" *ngFor="let wine of user?.addedWine">
      <div class="card mb-3">
        <img [src]="wine.immagine_url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ wine.nome }}</h5>
          <p class="card-text">{{ wine.descrizione }}</p>
          <p class="card-text"><small class="text-muted">Prezzo: {{ wine.prezzo }} {{ selectedCurrency }}</small></p>
        </div>
      </div>
    </div>
  </div>
</section>
