<div class="container text-center main">
  <section class="section mt-5">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: 0.5rem">
            <div class="row g-0">
              <div
                class="col-md-4 gradient-custom text-center"
                style="
                  border-top-left-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                "
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar"
                  class="profile-img img-fluid my-5"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Informazioni</h6>
                  <hr class="mt-0 mb-4" />
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Nome</h6>
                      <p class="text-muted">
                        {{ user?.nome }} {{ user?.cognome }}
                      </p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>email</h6>
                      <p class="text-muted">{{ user?.email }}</p>
                    </div>
                    <div class="col-12 mb-3">
                      <h6 *ngIf="user?.vendorOrNot">Dati aziendali</h6>
                      <p *ngIf="user?.vendorOrNot" class="text-muted">
                        P.IVA: {{ user?.pIva }}
                      </p>
                      <p *ngIf="user?.vendorOrNot" class="text-muted">
                        Presso: {{ user?.sedeLegale }}
                      </p>
                      <p *ngIf="user?.vendorOrNot" class="text-muted">
                        Nome Cantina: {{ user?.nomeAzienda }}
                      </p>
                    </div>
                    <button *ngIf="vendor" class="btn btn-lg btn-outline-primary" (click)="open(content)">Crea nuovo prodotto</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h3 class="mt-5">Preferiti:</h3>
  </section>
  <div class="row">
    <div class="col-6" *ngFor="let wine of listaVini">
      <div class="card" style="width: 18rem">
        <img [src]="wine.immagine_url" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">{{ wine.nome }}</h5>
          <p class="card-text">{{ wine.descrizione }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Annata: {{ wine.annata }}</li>
          <li class="list-group-item">Tipo: {{ wine.tipo }}</li>
          <li class="list-group-item">Prezzo: {{ wine.prezzo }} €</li>
          <li class="list-group-item">
            Casa Vinicola:
            <a [href]="wine.casa_vinicola_url">{{ wine.casa_vinicola }}</a>
          </li>
        </ul>

        <button type="button" class="btn btn-danger" (click)="deleteWine(wine.id.toString())">Delete</button>
        <button *ngIf="vendor" class="btn btn-lg btn-outline-primary" (click)="openEditModal(edit,wine)">Modifica</button>

      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi prodotto</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" required name="nome" class="form-control" id="nome" [(ngModel)]="newWine.nome" placeholder="Nome del vino">
      </div>
      <div class="mb-3">
        <label for="annata" class="form-label">Annata</label>
        <input type="number" required name="annata" class="form-control" id="annata" [(ngModel)]="newWine.annata" placeholder="Anno di produzione">
      </div>

      <div>
        <input type="number" required [(ngModel)]="newWine.prezzo" name="prezzo" placeholder="Prezzo">
        <select [(ngModel)]="selectedCurrency">
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <input type="text" required name="tipo" class="form-control" id="tipo" [(ngModel)]="newWine.tipo" placeholder="Tipo di vino">
      </div>

      <div class="mb-3">
        <label for="provenienza" class="form-label">Provenienza</label>
        <input type="text" required name="provenienza" class="form-control" id="provenienza" [(ngModel)]="newWine.provenienza" placeholder="Provenienza del vino">
      </div>

      <div class="mb-3">
        <label for="casa_vinicola" class="form-label">Casa Vinicola</label>
        <input type="text" required name="casa_vinicola" class="form-control" id="casa_vinicola" [(ngModel)]="newWine.casa_vinicola" placeholder="Casa vinicola">
      </div>
      <div class="mb-3">
        <label for="casa_vinicola" class="form-label">Link Sito Casa Vinicola</label>
        <input type="text" required name="casa_vinicola_url" class="form-control" id="casa_vinicola" [(ngModel)]="newWine.casa_vinicola_url" placeholder="Casa vinicola">
      </div>
      <div class="mb-3">
        <label for="vino_image" class="form-label">Immagine del Vino</label>
        <input type="text" required name="immagine_url" class="form-control" id="vino_image" [(ngModel)]="newWine.immagine_url">
      </div>


      <div class="mb-3">
        <label for="descrizione"  class="form-label">Descrizione</label>
        <textarea required class="form-control" name="descrizione" id="descrizione" [(ngModel)]="newWine.descrizione" placeholder="Descrizione del vino"></textarea>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">Annulla</button>
    <button type="button" class="btn btn-primary" (click)="addNewWine(newWine)">Salva</button>
  </div>
</ng-template>

<!--SOTTO MODALE EDIT-->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifica prodotto</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" [value]="newWine.nome" required name="nome" class="form-control" id="nome" [(ngModel)]="newWine.nome" placeholder="Nome del vino">
      </div>
      <div class="mb-3">
        <label for="annata" class="form-label">Annata</label>
        <input type="number" required name="annata" class="form-control" id="annata" [(ngModel)]="newWine.annata" placeholder="Anno di produzione">
      </div>

      <div>
        <input type="number" required [(ngModel)]="newWine.prezzo" name="prezzo" placeholder="Prezzo">
        <select [(ngModel)]="selectedCurrency">
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <input type="text" required name="tipo" class="form-control" id="tipo" [(ngModel)]="newWine.tipo" placeholder="Tipo di vino">
      </div>

      <div class="mb-3">
        <label for="provenienza" class="form-label">Provenienza</label>
        <input type="text" required name="provenienza" class="form-control" id="provenienza" [(ngModel)]="newWine.provenienza" placeholder="Provenienza del vino">
      </div>

      <div class="mb-3">
        <label for="casa_vinicola" class="form-label">Casa Vinicola</label>
        <input type="text" required name="casa_vinicola" class="form-control" id="casa_vinicola" [(ngModel)]="newWine.casa_vinicola" placeholder="Casa vinicola">
      </div>
      <div class="mb-3">
        <label for="casa_vinicola" class="form-label">Link Sito Casa Vinicola</label>
        <input type="text" required name="casa_vinicola_url" class="form-control" id="casa_vinicola" [(ngModel)]="newWine.casa_vinicola_url" placeholder="Casa vinicola">
      </div>
      <div class="mb-3">
        <label for="vino_image" class="form-label">Immagine del Vino</label>
        <input type="text" required name="immagine_url" class="form-control" id="vino_image" [(ngModel)]="newWine.immagine_url">
      </div>


      <div class="mb-3">
        <label for="descrizione"  class="form-label">Descrizione</label>
        <textarea required class="form-control" name="descrizione" id="descrizione" [(ngModel)]="newWine.descrizione" placeholder="Descrizione del vino"></textarea>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">Annulla</button>
    <button type="button" class="btn btn-primary" (click)="editWine(newWine)">Conferma modifica</button>
  </div>
</ng-template>

<section *ngIf="!vendor">
  <h3  class="mt-5"> Vini Preferiti Utente:</h3>
  <div class="row">
    <div class="col" *ngFor="let wine of listaVini">
      <div class="card mb-3">
        <img [src]="wine.immagine_url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ wine.nome }}</h5>
          <p class="card-text">{{ wine.descrizione }}</p>
          <p class="card-text"><small class="text-muted">Prezzo: {{ wine.prezzo }} {{ selectedCurrency }}</small></p>
        </div>

        <button type="button" class="btn btn-danger" (click)="deleteWine(wine.id.toString())">Delete</button>
      </div>
    </div>
  </div>
</section>
