<div class="container d-flex justify-content-center align-items-center vh-90">
  <div class="card rounded-3 m-5 p-5" style="width: 28rem">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <form>
            <div class="container d-flex justify-content-center">
              <h4 class="text-center">Login:</h4>
            </div>
            <div class="container d-flex justify-content-center">
              <input
                type="email"
                [(ngModel)]="loginData.email"
                name="email"
                class="mt-3 rounded-5 small-placeholder w-100"
                placeholder="Email"
              />
            </div>
            <div class="container">
              <div
                *ngIf="submitted && !loginData.email"
                class="alert alert-danger"
                role="alert"
              >
                Il campo Email è obbligatorio.
              </div>
            </div>
            <div class="container d-flex justify-content-center">
              <input
                type="password"
                [(ngModel)]="loginData.password"
                name="password"
                class="my-4 rounded-5"
                placeholder="Password"
              />
            </div>
            <div class="container">
              <div
                *ngIf="submitted && !loginData.password"
                class="alert alert-danger"
                role="alert"
              >
                Il campo Password è obbligatorio.
              </div>
            </div>
            <div class="container d-flex justify-content-center">
              <button (click)="signIn()" class="button">Accedi</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
