<div class="card rounded-5 mb-3" style="width: 18rem">
  <div class="img-container mt-3">
    <img [src]="wine.immagine_url" class="card-img-top" />
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">{{ wine.nome }}</h5>
    <p class="card-text text-center">{{ wine.descrizione }}</p>
  </div>
  <div class="d-flex justify-content-center mb-4">
    <button type="button" class="button" [routerLink]="['/details', wine.id]">
      Dettagli
    </button>
    <button (click)="addToFavorites()">Aggiungi ai preferiti</button>
  </div>
</div>
